body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(225, 225, 234);
    font-size: 16px;
}

/* ---------- MOBILE ----------- */

.logo{
    width: 313px;
    margin: 70px auto 0;
}

.logo img{
    width: 313px;
}

.contenedor-ppal{
    background-color: white;
    width: 313px;
    height: 680px;
    margin: 20px auto 70px;
    border-radius: 8px;
    overflow: hidden;
}

/* ------- Comunidad --------- */
.comunidad{
    padding: 8px 24px 24px 24px;
    height: 230px;
    box-sizing: border-box;
}

.comunidad h2.titulo{
    font-size: 1.5em;
    color: rgb(0, 167, 228);
}

.comunidad h2.promocion{
    color: rgb(190, 190, 36);
    font-size: 1em;
    margin: 20px 0 10px 0;
}

.comunidad p{
    color: rgb(59, 57, 87);
    font-size: 0.86em;
    line-height: 27px;
    margin-top: 16px;
}


/* ---------- Subscripción mensual -------- */

.subs-mensual{
    background-color: rgb(27, 99, 117);
    padding: 12px 24px 24px 24px;
    height: 250px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

.subs-mensual h2{
    font-size: 1em;
    margin-bottom: 18px;
}

.precio{
    font-size: 2em;
    font-weight: 700;
}

.subs-mensual p{
    margin-top: 8px;
}

button{
    margin-top: 14px;
    background-color: rgb(174, 174, 31);
    border-radius: 5px;
    width: 100%;
    height: 48px;
    border-style: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
}

button a{
    text-decoration: none;
    color: white;
}

button:hover{
    background-color: rgb(130, 130, 26);
}



/* ---------- Porqué elegirnos ---------- */

.nosotros{
    background-color: rgb(34, 68, 80);
    padding: 8px 24px 24px 24px;
    height:230px;
    box-sizing: border-box;
    color: lightgray;
}

.nosotros h2{
    font-size: 18px;
}

li{ 
    font-size: 0.85em;
    line-height: 20px;
    font-weight: 400;
    list-style: circle;
}


/* ----- Footer ------ */
.autor{
    font-size: 11px;
    text-align: center;
}
.autor a{
    color: blue;
}


/* ---------- REGISTRO ---------- */

.contenedor-registro{
    background-color: rgb(213, 113, 26);
    width: 313px;
    height: 750px;
    margin: 20px auto 70px;
    border-radius: 8px;
    overflow: hidden;
}


/* ------- Elige tu Paquete -------- */
.paquete{
    padding: 8px 24px 24px 24px;
    height: 230px;
    box-sizing: border-box;
}

.paquete h2.title_pack{
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin: 30px 0 20px 0;
}

.paquete h2.promo_registro{
    color: rgb(254, 254, 50);
    font-size: 1em;
    margin: 10px 0 10px 0;
}

.paquete p{
    color: rgb(255, 255, 255);
    font-size: 1em;
    line-height: 20px;
    margin-top: 10px;
}

/* ------------ Paquete 01 ------------- */

.paquete_01{
    background-color: rgb(176, 93, 20);
    padding: 12px 24px 24px 24px;
    height: 250px;
    box-sizing: border-box;
    color: rgb(215, 214, 233);
}

.paquete_01 h2{
    font-size: 1.2em;
    margin-bottom: 18px;
}

.precio{
    font-size: 2em;
    font-weight: 700;
}

.paquete_01 p{
    margin-top: 8px;
}

.btn-registro{
    margin-top: 10px;
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    width: 100%;
    height: 48px;
    border-style: none;
    color: rgb(228, 63, 26);
    font-size: 16px;
    font-weight: 700;
}

.btn-registro:hover{
    background-color: rgb(219, 219, 219);
}

/* ------------ Paquete 02 ------------- */

.paquete_02{
    background-color: rgb(25, 58, 97);
    padding: 12px 24px 24px 24px;
    height: 270px;
    box-sizing: border-box;
    color: rgb(215, 214, 233);
}

.paquete_02 h2{
    font-size: 1.4em;
    margin-bottom: 16px;
}

.precio{
    font-size: 2em;
    font-weight: 700;
}

.paquete_02 p{
    margin-top: 8px;
}

.btn-registro{
    margin-top: 6px;
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    width: 100%;
    height: 48px;
    border-style: none;
    color: rgb(228, 63, 26);
    font-size: 16px;
    font-weight: 700;
}

.btn-registro:hover{
    background-color: rgb(219, 219, 219);
}




/* -------------- DESKTOP ----------------- */

@media only screen and (min-width: 680px){
    
    .logo{
        width: 400px;
    }
    
    .logo img{
        width: 100%;
    }
    
    .contenedor-ppal{
        width:636px;
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 40px auto 80px;
    }

    .comunidad{
        grid-column: 1/3;
        padding: 20px 35px 35px 35px;
    }

    .comunidad h2.titulo{
        font-size: 1.8em;
    }

    .comunidad h2.promocion{
        font-size: 1.1em;
    }

    .comunidad p{
        font-size: 1em;
        line-height: 27px;
        margin: 8px;
    }

    .subs-mensual{
        padding: 20px 40px 40px 40px;
        height: 270px;
    }

    .subs-mensual h2{
        font-size: 1.1em;
    }

    .subs-mensual p{
        font-size: 0.95em;
    }

    .nosotros{
        height: 270px;
        padding: 20px 40px 40px 40px;
    }

    /* ---- REGISTRO ---- */

    .contenedor-registro{
        width:636px;
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 40px auto 80px;
    }

    .paquete{
        grid-column: 1/3;
        padding: 20px 35px 35px 35px;
    }

    .paquete h2.title_pack{
        font-size: 1.8em;
    }

    .paquete h2.promo_registro{
        font-size: 1.1em;
    }

    .paquete p{
        font-size: 1em;
        line-height: 27px;
        margin: 8px;
    }

    .paquete_01{
        padding: 20px 40px 40px 40px;
        height: 270px;
    }

    .paquete_01 h2{
        font-size: 1.1em;
    }

    .paquete_01 p{
        font-size: 0.95em;
    }

    .paquete_02{
        height: 270px;
        padding: 20px 40px 40px 40px;
    }

    .paquete_02 h2{
        font-size: 1.1em;
    }

     .paquete_02 p{
        font-size: 0.95em;
    }





}
